addict==2.2.1
appdirs==1.4.3
certifi==2019.11.28
Click==7.0
colour==0.1.5
cycler==0.10.0
decorator==4.4.1
Flask==1.1.1
gunicorn==20.0.4
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
networkx==2.4
nltk==3.4.5
numpy==1.17.4
opencv-python==4.1.2.30
pandas==0.22.0
patsy==0.5.1
Pillow==7.0.0
-e git+https://github.com/AndrewBeers/DifferentialPrivacy_For_Quotes@c2a04a5ad56196ea81fa289c78d26f3a8749c7eb#egg=private_quotes
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.4
scikit-learn==0.22.1
scipy==1.3.3
seaborn==0.10.0
SimpleITK==1.2.4
six==1.13.0
statsmodels==0.10.2
tqdm==4.42.1
Werkzeug==0.16.1
wincertstore==0.2
WTForms==2.2.1
